body{
    background: #000;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffff;
    text-rendering: optimizeLegibility;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5{
    font-size: 14px;
}

.kamingSuun{
    width: 100%;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

#logo{
    width: 100px;
    margin: 0 auto 30px;
}

.kamingSuunTitle{
    font-weight: 800;
    font-size: 2em;
    letter-spacing: 0.5px;
}

.kamingSuunDeskripsi{
    width: 100%;
    margin: 0 auto;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sosmedKontener{
    margin-top: 40px;
}

.sosmedKontener a{
    color: #fff;
    transition: 0.5s;
}

.sosmedKontener a:hover{
    color: rgb(49, 219, 193);
    transition: 0.5s;
}

.sosmedKontener i {
    font-size: 1.8em;
    padding: 0rem .5rem;
}

/* media */
@media (min-width: 767px) {
    #logo{
        width: 160px;
    
    }

    .kamingSuunTitle{
        font-size: 3.8em;
    }

    .kamingSuunDeskripsi{
        max-width: 85%;
    }
}

